
<h1 class="text-center mt-3">Bienvenido a tu perfil Hernan Pedrino</h1>
<hr>
<h3 class="mt-1">Tus datos:</h3>
<form class="row g-3 mt-2">
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Apellido</label>
      <input type="text" class="form-control">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputAddress" class="form-label">Telefono</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Direccion</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary">Modificar datos</button>
    </div>
  </form>
  <hr>
  <h3 class="mt-1">Tus pedidos:</h3>
  <div class="table-responsive">
    <table class="table align-middle">
    <thead>
        <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col" class="col-2">Fecha</th>
        <th scope="col" class="col-4">Items</th>
        <th scope="col" class="col-1">Repetir pedido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>
            <ul>
                <li>Helado Frutilla</li>
                <li>Helado de Vainilla</li>
                <li>Helado de chocolate</li>
            </ul>
        </td>
        <td>@mdo</td>
        </tr>
        <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        </tr>
        <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        </tr>
    </tbody>
    </table>

  </div>
<app-footer></app-footer>