<div class="alert alert-primary text-center mt-2" *ngIf="cargando" role="alert">
  <i class="fas fa-spinner fa-10x fa-spin"></i>
</div>
<div class="row row-cols-1 row-cols-md-5 g-5 mt-2" *ngIf="!cargando">
    <div class="card my-3" *ngFor="let item of items">
      <a [routerLink]= "['/detalles/', tipoDeProd, item.id, ]"><img [src]="item.imagenes[0]" class="card-img-top mt-1" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">{{ item.titulo }}</h5>
        <p class="card-text">{{ item.descripcion }}</p>
      </div>
      <div class="card-footer text-center mb-2">
        <p class="card-text"><strong>{{ item.precio | currency }}</strong></p>
        <hr>
        <a [routerLink]= "['/detalles/', tipoDeProd, item.id, ]" class="btn btn-primary">Ver detalles</a>       
      </div>
    </div>
</div>
<app-footer></app-footer>

