
<table class="table table-hover mt-3" *ngIf="arregItems">
    <thead>
    <tr>
        <th scope="col" class="col-1">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Sabor</th>
        <th scope="col">Precio  unitario</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Sub-total</th>
        <th scope="col" class="col-1">Modificar</th>
        <th scope="col" class="col-1">Quitar producto</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of arregItems; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ item.nombre }}</td>
        <td>{{ item.sabor }}</td>
        <td>{{ item.precio | currency}}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precio*item.cantidad | currency }}</td>
        <td><button class="btn btn-success"><i class="fas fa-pencil-alt fa-lg"></i></button></td>
        <td><button class="btn btn-danger" (click)="borrarItem()"><i class="far fa-trash-alt fa-lg"></i></button></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <th scope="row">Total del pedido</th>
        <td colspan="4"></td>
        <td>{{ totalPedido | currency }}</td>
        <td colspan="2"><a routerLink="/confirmar-pedido" class="btn btn-success">Confirmar Pedido <i class="fas fa-check"></i></a></td>
    </tr>
    </tfoot>
</table>

<div class="alert alert-info text-center" role="alert" *ngIf="!arregItems">
    Por favor seleccione algun producto.
</div>
<div class="d-grid gap-2 col-6 mx-auto mt-3 mb-3">
    <a routerLink="" class="btn btn-primary" type="button">Continuar Comprando  <i class="fas fa-cart-plus"></i></a>
</div>
<div class="alert alert-info text-center" role="alert" *ngIf="arregItems">
   Radio de envio del pedido. Si el pedido es realizado antes de las 14 hs se entrega en el dia.
   Caso contrario se entregara al dia siguiente.
   Los pedidos se abonan en la entrega.
</div>
<div class="row justify-content-center">
    <img class="envio" src="../../../assets/Mapa envio.png" alt="">
</div>

