<!-- <hr>
<h1 class="text-center">Ofertas</h1>
<div class="alert alert-primary text-center" *ngIf="items.length === 0 && loading === false" role="alert">
  En este momento no hay ofertas disponibles
</div>
<div class="alert alert-primary text-center" *ngIf="loading === true" role="alert">
  <i class="fas fa-spinner fa-10x fa-spin"></i>
</div>

<div class="card-group mb-2">
    <div class="card text-center" *ngFor="let helado of items">
      <a routerLink = "/detalles/56345"><img [src]="helado.imagenes[0]" class="img-thumbnail"></a>
      <div class="card-body">
        <h5 class="card-title">{{ helado.titulo }}</h5>
        <p class="card-text">{{ helado.descripcion }}</p>
      </div>  
      <div class="card-footer">
        <p class="card-text"><strong>{{ helado.precio | currency }}</strong></p>
        <hr>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected>Añadir al carrito:</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <a routerLink = "/carrito" class="btn btn-primary">Comprar</a>       
      </div>
    </div>
</div>
<hr> -->
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur error quam saepe ut esse expedita neque repellendus laborum qui et ducimus sint ipsa consectetur accusamus unde cumque, blanditiis rem eos!</p>
