<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo-dist-salinas.jpg" alt="" width="140" height="100" class="d-inline-block align-middle">
      </a>
      <span class="navbar-brand d-inline d-none d-lg-block mt-1">Distribuidora Salinas</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-white" routerLink="/golosinas-heladas">Golosinas Heladas</a></li>
              <li><a class="dropdown-item text-white" routerLink="/baldes">Baldes</a></li>
              <li><a class="dropdown-item text-white" routerLink="/postres-helados">Postres Helados</a></li>
              <li><a class="dropdown-item text-white" routerLink="/congelados">Congelados</a></li>
              <li><a class="dropdown-item text-white" routerLink="/productos-sin-tacc">Productos sin TACC</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mi cuenta
            </a>
            <ul class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item text-white" routerLink="/iniciar-sesion">Iniciar Sesion</a></li>
              <li><a class="dropdown-item text-white" routerLink="/registrarse">Registrarse</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink = "/carrito"><img src="../../../assets/cart3.svg" alt="carrito" width="40" height="40"><span class="badge rounded-pill bg-danger" *ngIf="badge > 0">{{ badge }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>